@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$primary-color: #ffffff;
$secondary-color: #181818;
$accent-color1: #11aaaa;
$accent-color2: rgb(30, 197, 197);
$accent-color3: goldenrod;

$inter: "inter", sans-serif;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
svg,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $inter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 70rem;
    margin: auto;
    padding: 2rem;
    display: grid;
}

.tabs {
    display: flex;
    gap: 2.5rem;
    margin: 1rem auto;
}

.tab a {
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem 0;
}

.tab a > p:nth-child(2) {
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid transparent;
}

.tab a:focus {
    color: $accent-color1;
    p:nth-child(2) {
        border-bottom: 0.2rem solid $accent-color1;
    }
}

.tab a:hover {
    opacity: 0.7;
}

.create-sec {
    display: flex;
    gap: 1rem;
    height: 10.25rem;
    max-width: 100%;
    margin: 3rem 0 3rem 0;
}

.create-input {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 1.625rem;
    border-radius: 0.625rem;
    border: 0.125rem solid $secondary-color;
    height: 100%;
    width: 85%;
}

.create-input input {
    font-size: 1.5rem;
    height: 50%;
    width: 100%;
    outline: none;
    border: 0;
    background-color: $primary-color;
    color: $secondary-color;
    border-bottom: 0.125rem solid rgba($secondary-color, 0.2);
}

.create-input input::placeholder {
    opacity: 0.5;
}

.create-input input:last-child {
    border: 0;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $accent-color1;
    height: 100%;
    width: 15%;
    border-radius: 0.625rem;
}

.create-btn:hover {
    background-color: $accent-color2;
}

.add-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 4.5rem;
    position: relative;
}

.add-lines .add-line1 {
    width: 100%;
    height: 0.2rem;
    background-color: $primary-color;
}

.add-lines .add-line2 {
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: $primary-color;
}

.todos-box {
    border-radius: 0.625rem;
    border: 0.125rem solid $secondary-color;
    max-width: 100%;
    padding: 1.625rem;
}

.todos-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.todos-head p {
    opacity: 0.5;
}

#clear-btn {
    border: none;
    background: none;
    color: $secondary-color;
    opacity: 0.5;
    font: inherit;
}

#clear-btn:hover {
    opacity: 0.8;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem solid rgba($secondary-color, 0.2);
    padding-bottom: 0.5rem;
    padding: 1rem 0;
}

.todo:last-child {
    border: none;
}

.todo .todo-left {
    display: flex;
}

.todo .todo-left h2 {
    font-weight: 600;
}

.todo .todo-left p {
    text-align: left;
    margin: 0.1rem 0 0;
}

.todo .todo-left .todo-check {
    size: 30rem;
    border: 4px solid black;
}

.todo-icons button svg {
    margin: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    path {
        fill: $secondary-color;
    }
}

.todo-icons button svg:hover {
    path {
        opacity: 0.7;
    }
}

.todo-icons .star-icon svg {
    path {
        fill: $primary-color;
        stroke: $secondary-color;
    }
}

.todo-icons .star-icon svg:hover {
    path {
        opacity: 1;
        fill: goldenrod;
        stroke: goldenrod;
    }
}
