/* imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
$primary-color: #f7f3eb;
$secondary-color: #181818;
$accent-color1: #11aaaa;
$accent-color2: #1ad1d1;
$accent-color3: #cf9e18;

$primary-font: "inter", sans-serif;

/* Browser Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

/* General Styling */
:root {
    font-family: $primary-font;
    font-size: 62.5%;
    line-height: 2rem;
}

body {
    font-size: 1.5rem;
    background-color: $primary-color;
    color: $secondary-color;
}

.container {
    display: grid;
    max-width: 70rem;
    margin: auto;
    padding: 2rem;
}

/* Create todo component */
.create-form,
.update-form {
    max-width: 100%;
    display: flex;
    gap: 1rem;
    height: 10rem;
    margin: 3rem 0 3rem 0;
}

.create-input,
.update-input {
    width: 85%;
    height: 100%;
    border: 0.1rem solid $secondary-color;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}

.create-input input,
.update-input input {
    outline: none;
    background: none;
    color: $secondary-color;
    height: 50%;
    width: 100%;
    border-bottom: 0.1rem solid rgba($secondary-color, 0.2);
}

.create-input input::placeholder,
.update-input input::placeholder {
    opacity: 0.5;
}

.create-input :last-child,
.update-input :last-child {
    border: 0;
}

.create-btn,
.update-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
    border: none;
    cursor: pointer;
    background-color: $accent-color1;
    transition: background-color 0.5s ease-out;
    border-radius: 0.5rem;

    &:hover {
        background-color: $accent-color2;
        .add-lines {
            width: 2.5rem;
            height: 4.5rem;
        }
    }
}

.add-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 4rem;
    position: relative;
    transition: all 0.2s ease-out;
}

.add-lines .add-line1 {
    width: 100%;
    height: 0.2rem;
    background-color: $primary-color;
}

.add-lines .add-line2 {
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: $primary-color;
}

/* Tabs component */
.tabs {
    justify-self: center;
    display: flex;
    gap: 2.5rem;
    margin: 1.5rem;
}

.tab a {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    transition: all 0.2s ease-in-out;
}

.tab a > p:nth-child(2) {
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid transparent;
}

.tab a:focus {
    color: $accent-color1;
    p:nth-child(2) {
        border-bottom: 0.1rem solid $accent-color1;
    }
}

.tab a:hover {
    opacity: 0.7;
}

/* Todo box component */
.todos-box {
    display: grid;
    max-width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid $secondary-color;
    padding: 1.5rem 1.5rem 0;
}

.todos-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.todos-head p {
    opacity: 0.5;
}

#clear-btn {
    border: none;
    background: none;
    color: $secondary-color;
    opacity: 0.5;
    cursor: pointer;
    font: inherit;
    transition: all 0.2s ease-in-out;
}

#clear-btn:hover {
    opacity: 0.8;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem solid rgba($secondary-color, 0.2);
    padding-bottom: 0.5rem;
    padding: 1rem 0;
}

.todo:last-child {
    border: none;
}

.todo .todo-left {
    display: flex;
}

.todo .todo-left h2 {
    font-weight: 600;
}

.todo .todo-left p {
    text-align: left;
    margin: 0.1rem 0 0;
}

.todo-right button {
    cursor: pointer;
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem;

    svg {
        width: 100%;
        height: 100%;
    }

    path {
        fill: $secondary-color;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        path {
            opacity: 0.7;
        }
    }
}

.todo-right .star-icon svg {
    path {
        fill: None;
        stroke-width: 2;
        stroke: $secondary-color;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        path {
            opacity: 1;
            fill: goldenrod;
            stroke: goldenrod;
        }
    }
}

/* Custom check-box */
.todo-left input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    align-self: center;
}

.todo-left label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.todo-left input[type="checkbox"]:focus + label svg {
    .checkbox {
        stroke-width: 4;
    }
}

.todo-left input[type="checkbox"]:hover + label svg {
    .checkbox {
        stroke-width: 4;
    }
}

.todo-left label svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.todo-left label svg .checkbox {
    stroke-width: 2;
    stroke: $secondary-color;
    transition: all 0.2s ease-in-out;
}

.todo-left label svg .check {
    stroke: $accent-color1;
    stroke-width: 2;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition: all 0.2s ease-in-out;
}

.todo-left input[type="checkbox"]:checked + label svg {
    .check {
        stroke-dashoffset: 0;
    }
}

/* Other Styles */
.no-todos {
    h2 {
        font-weight: 600;
    }
    margin: 1rem;
    text-align: center;
}

.hidden {
    display: none;
}
